/* css styles */

.navbar {
    background-color: rgba(255,255,255,0.9);
}

.quarto-listing-people .quarto-post .listing-description a {
  color: cornflowerblue;
  text-decoration: underline;
}

.quarto-listing-people .quarto-post .metadata ul {
  list-style: none;
}

.quarto-listing-people .quarto-post {
    border-bottom: none;
}

#listing-pubs .quarto-post .body {
    order: 1;
}

#listing-pubs .quarto-post .thumbnail {
    display: none;
}

.proj-col-pubs {
    width: 60% !important;
}

.proj-col-team {
    width: 40% !important;
}
@media (max-width: 767.98px) {
    .proj-col-pubs,
        .proj-col-team {
            width: 100% !important;
        }
    
    .quarto-listing-people .quarto-post .thumbnail {
        order: 1;
        max-width: 400px;
    }

    .quarto-listing-people .quarto-post .metadata h3, .quarto-listing-people .quarto-post .metadata .listing-subtitle {
        display: none;
    }

    .quarto-listing-people .quarto-post .body .listing-title {
        padding-top: 1.3em;
    }

    .quarto-listing-people .quarto-post .metadata ul {
        padding-left: 0;
    }

    .quarto-listing-people .quarto-post .metadata ul li {
        display: inline;
        padding-right: 1em;
        font-size: 1.3em;
    }

}

